{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<link rel="alternate icon" href="https://curlfinance.com/static/assets/images/logo/curlfi.png">
    <link rel="icon" type="image/svg+xml" href="https://curlfinance.com/static/assets/images/logo/curlfi.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="CurlFinance, Crypto, Defi, Dex, Decentralized Fiance, Portfolio Tracker, Token Tracker,  Launchpad, Defi Wallet, Loop Blockchain,  Farming and Staking, NFT Gallery, NFT Marketplace, CoinmarketCap, Coingecko, Fully Diluted Valuation, 24hrs Volumn, Trading Volume, Liquidity..."/>

    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:title" content="CurlFinance"/>
    <meta name="twitter:title" content="CurlFinance"/>
    <meta name="twitter:image:width" content="400" />
    <meta name="twitter:image:height" content="300" />
    <meta name="twitter:image:src" content="https://curlfinance.com/static/assets/images/logo/curlfi.png" >

    <meta name="twitter:description" content="CurlFinance is an all-in-one solution consisting of launchpad, Token Tracker, Portfolio Tracker, Wallet, Staking and Farming and so much more...
    "/>
    <meta property="og:description" content="CurlFinance is an all-in-one solution consisting of launchpad, Token Tracker, Portfolio Tracker, Wallet, Staking and Farming and so much more..."/>

    
    <meta name="description" content="CurlFinance is an all-in-one solution consisting of launchpad, Token Tracker, Portfolio Tracker, Wallet, Staking and Farming and so much more...." content="IE=edge"/>

    <title>CurlFinance - SignUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="https://curlfinance.com/static/assets/images/logo/curlfi.png"/>
    
    <link rel="alternate icon" href="https://curlfinance.com/static/assets/images/logo/curlfi.png">
    <link rel="shortcut icon" href="https://curlfinance.com/static/assets/images/logo/curlfi.png" type="image/x-icon">
    <link rel="icon" href="https://curlfinance.com/static/assets/images/logo/curlfi.png" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta property="og:title" content="CurlFinance"/>
    <link rel="icon" href="https://curlfinance.com/static/assets/images/logo/curlfi.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://curlfinance.com/static/assets/images/logo/curlfi.png" type="image/x-icon">
    <title>CurlFinance | SignUp</title>
    <link rel="stylesheet" href="{% static 'app/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'app/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/dist/app.css' %}">
    <link rel="stylesheet" href="{% static 'assets/font/font-awesome.css' %}">
    <link href="{% static 'assets/unpkg.com/aos%402.3.1/dist/aos.css' %}" rel="stylesheet">
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="https://curlfinance.com/static/assets/images/logo/curlfi.png">
    <link rel="apple-touch-icon-precomposed" href="https://curlfinance.com/static/assets/images/logo/curlfi.png">
<meta name="author" content="" />

<link href="{% static 'assets/css/vendor.min.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" />

</head>
<body class='pace-top'>

<div id="app" class="app app-full-height app-without-header">

<div class="register">

<div class="register-content">
<form action="" method="post" name="">
	{% csrf_token %}
<h1 class="text-center">Create Wallet</h1>
<p class="text-inverse text-opacity-50 text-center">One Admin ID is all you need to access all the Admin services.</p>
{% if messages %}
    {% for message in messages %}
        <a  href="" class="btn d-block btn-outline-theme">
            {{ message }}
        </a>    
        
    {% endfor %}
{% endif %}
<br>
<div class="mb-3">
<div class="row gx-2">

 
</div>
</div>
<div class="mb-3">

<label class="form-label">Account Name:<span class="text-danger">*</span></label>
<input name="username" type="text" class="form-control form-control-lg bg-white bg-opacity-5" placeholder="e.g curlray" value="" />

</div>

<div class="mb-3">
<label class="form-label">Password <span class="text-danger">*</span></label>
<input name="password1" type="password" class="form-control form-control-lg bg-white bg-opacity-5" value="" placeholder="**********" />
</div>

<div class="mb-3">
<label class="form-label">Confirm Password <span class="text-danger">*</span></label>
<input name="password2" type="password" class="form-control form-control-lg bg-white bg-opacity-5" value="" placeholder="*********" />
</div>


<div class="mb-3">
<button type="submit" class="btn btn-outline-theme btn-lg d-block w-100">Create Wallet</button>
</div>
<div class="text-inverse text-opacity-50 text-center">
Already have an Admin ID? <a href="{% url 'app_user:sign_in' %}">Enter Account</a>
</div>
</form>
</div>

</div>






        
        
        <a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
        
    </div>


<script src="{% static 'assets/js/vendor.min.js' %}" ></script>
<script src="{% static 'assets/js/app.min.js' %}" ></script>

<script src="{% static 'cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js' %}"  defer=""></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" crossorigin="anonymous"></script>
</body>

</html>
