{% extends "main/base.html" %}

{% load static %}
{% load humanize %}
{% block content %}


<div class="login">

{{data.sender}}
<div class="login-content form-group">
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
<h1 class="text-center">Add Ido</h1>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Token Address <span class="text-danger">*</span></label>
    </div>
    <input required name="token_address" type="text" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Token Symbol <span class="text-danger">*</span></label>
    </div>
    <input required name="token_symbol" type="text" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Name <span class="text-danger">*</span></label>
    </div>
    <input required name="name" type="text" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Describe your project <span class="text-danger">*</span></label>
    </div>
    <input required name="description" type="text" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Total Supply <span class="text-danger">*</span></label>
    </div>
    <input required name="total_supply" type="number" step="0.1" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Link to your project <span class="text-danger">*</span></label>
    </div>
    <input required name="link" type="text" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Logo <span class="text-danger">*</span></label>
    </div>
    <input required name="logo" type="file" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Image <span class="text-danger">*</span></label>
    </div>
    <input required name="image" type="file" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Listing Price <span class="text-danger">*</span></label>
    </div>
    <input required name="listing_price" type="number" step="0.1" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Presale Price <span class="text-danger">*</span></label>
    </div>
    <input required name="presale_price" type="number" step="0.1" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Soft Cap <span class="text-danger">*</span></label>
    </div>
    <input required name="soft_cap" type="number" step="0.1" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Hard Cap <span class="text-danger">*</span></label>
    </div>
    <input required name="hard_cap" type="number" step="0.001" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<hr>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Tier 0 Min <span class="text-danger">*</span></label>
    </div>
    <input required name="tier0_min" type="number" step="0.001" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Tier 1 Min <span class="text-danger">*</span></label>
    </div>
    <input required name="tier1_min" type="number" step="0.001" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Tier 2 Min <span class="text-danger">*</span></label>
    </div>
    <input required name="tier2_min" type="number" step="0.001" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Tier 3 Min <span class="text-danger">*</span></label>
    </div>
    <input required name="tier3_min" type="number" step="0.001" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<hr>


<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Tier 0 Max <span class="text-danger">*</span></label>
    </div>
    <input required name="tier0_max" type="number" step="0.001" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Tier 1 Max <span class="text-danger">*</span></label>
    </div>
    <input required name="tier1_max" type="number" step="0.001" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Tier 2 Max <span class="text-danger">*</span></label>
    </div>
    <input required name="tier2_max" type="number" step="0.001" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Tier 3 Max <span class="text-danger">*</span></label>
    </div>
    <input required name="tier3_max" type="number" step="0.001" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>


<hr>

<div class="mb-3">
    <div class="d-flex form-group">
        <small>Optional(Ignore, if you do not want whitelist contributors)</small>
        <label class="form-label">How Many Whitelist Users <span class="text-danger">*</span></label>
    </div>
    <input name="whitelist_limit" type="number" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <small>Optional(Ignore, if you do not want whitelist contributors)</small>
        <label class="form-label">Whitelist Start <span class="text-danger">*</span></label>
    </div>
    <input name="whitelist_start" type="datetime-local" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <small>Optional(Ignore, if you do not want whitelist contributors)</small>
        <label class="form-label">Whitelist Stop <span class="text-danger">*</span></label>
    </div>
    <input name="whitelist_stop" type="datetime-local" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<hr>


<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Ido Start <span class="text-danger">*</span></label>
    </div>
    <input required name="ido_start" type="datetime-local" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Ido Stop <span class="text-danger">*</span></label>
    </div>
    <input required name="ido_stop" type="datetime-local" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<hr>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Allocation(Contributed Funds): Liquidity(%) <span class="text-danger">*</span></label>
    </div>
    <input required name="allocation_cf_liquidity" type="number" step="0.001" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Allocation(Contributed Funds): Project(%) <span class="text-danger">*</span></label>
    </div>
    <input required name="allocation_cf_project" type="number" step="0.1" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Allocation(Project Tokens): Liquidity(%) <span class="text-danger">*</span></label>
    </div>
    <input required name="allocation_pt_liquidity" type="number" step="0.1" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Allocation(Project Tokens): Contributors(%) <span class="text-danger">*</span></label>
    </div>
    <input required name="allocation_pt_contributors" type="number" step="0.1" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Allocation(Project Tokens): Project(%) <span class="text-danger">*</span></label>
    </div>
    <input required name="allocation_pt_project" type="number" step="0.1" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<div class="mb-3">
    <div class="d-flex form-group">
        <label class="form-label">Vesting Period(Optional) <span class="text-danger">*</span></label>
    </div>
    <select name="vesting_duration">
        <option value="0">I do not want vesting</option>
        <option value="3">3 Month</option>
        <option value="6">6 Months</option>
        <option value="10">10 Months</option>
        <option value="10">12 Months</option>
    </select>
    <input name="allocation_pt_project" type="number" step="0.1" class="form-control form-control-lg bg-white bg-opacity-5 prc" />
</div>

<hr>

<div class="d-flex align-items-center mb-3">

    <button type="submit" class="btn-default">Add Ido</button>

</div>



{% endblock %}
