{% extends "main/base.html" %}

{% load static %}
{% load humanize %}
{% block content %}

<button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>


<div id="content" class="app-content">

<div class="container">

<div class="row justify-content-center">

<div class="col-xl-12">

<div class="row">

<div class="col-xl-9">

<div id="general" class="mb-5">
<h4> Presale Info</h4>
<p>{{ ido.description }}.</p>
<div class="card">
<div class="list-group list-group-flush">
<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Token</div>

</div>
<div class="align-items-center">
<div>{{ ido.name }}</div>
</div>
</div>
<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Token Address</div>

</div>
<div>
<a href="https://scan.coredao.org/address/{{ ido.token_address }}">{{ ido.token_address }}..</a>
</div>
</div>
<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Softcap</div>

</div>
<div>
<div>{{ ido.soft_cap }} Curl</div>
</div>
</div>
<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Hardcap</div>

</div>
<div>
<div>{{ ido.hard_cap }} Curl</div>
</div>
</div>

</div>
<div class="card-arrow">
<div class="card-arrow-top-left"></div>
<div class="card-arrow-top-right"></div>
<div class="card-arrow-bottom-left"></div>
<div class="card-arrow-bottom-right"></div>
</div>
</div>
</div>


<div id="notifications" class="mb-5">
<h4> Price and Vesting Info</h4>

<div class="card">
<div class="list-group list-group-flush">
<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Listing Price</div>

</div>
<div>
<div>{{ ido.listing_price }} {{ ido.name }} per Core</div>
</div>
</div>
<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Presale Price</div>

</div>
<div><div>{{ ido.presale_price }} {{ ido.name }} per Core</div>
</div>
</div>
<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Allocation</div>
<div class="text-white text-opacity-50 d-flex align-items-center">

</div>
</div>
<div>
<div>25% Liquidity 75% Vested</div>
</div>
</div>
<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Initial Marketcap</div>
<div class="text-white text-opacity-50 d-flex align-items-center">
</div>
</div>
<div>
<div>$167,000</div>
</div>
</div>
<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Vesting Period</div>
<div class="text-white text-opacity-50 d-flex align-items-center">
</div>
</div>
<div>
<div>12 Months</div>
</div>
</div>
</div>
<div class="card-arrow">
<div class="card-arrow-top-left"></div>
<div class="card-arrow-top-right"></div>
<div class="card-arrow-bottom-left"></div>
<div class="card-arrow-bottom-right"></div>
</div>
</div>
</div>

<div id="notifications" class="mb-5">
<h4> Allocation Info(Contribution)</h4>

<div class="card">
<div class="list-group list-group-flush">
<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Liquidity</div>

</div>
<div>
<div>{{ ido.allocation_cf_liquidity }}%</div>
</div>
</div>
<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Project</div>

</div>
<div><div>{{ ido.allocation_cf_project }}%</div>
</div>
</div>



</div>
<div class="card-arrow">
<div class="card-arrow-top-left"></div>
<div class="card-arrow-top-right"></div>
<div class="card-arrow-bottom-left"></div>
<div class="card-arrow-bottom-right"></div>
</div>
</div>
</div>

<div id="notifications" class="mb-5">
<h4> Allocation Info(Project Tokens)</h4>

<div class="card">
<div class="list-group list-group-flush">
<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Liquidity</div>

</div>
<div>
<div>{{ ido.allocation_pt_liquidity }}%</div>
</div>
</div>
<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Contributors</div>

</div>
<div><div>{{ ido.allocation_pt_contributors }}%</div>
</div>
</div>

<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Project</div>

</div>
<div><div>{{ ido.allocation_pt_project }}%</div>
</div>
</div>




</div>
<div class="card-arrow">
<div class="card-arrow-top-left"></div>
<div class="card-arrow-top-right"></div>
<div class="card-arrow-bottom-left"></div>
<div class="card-arrow-bottom-right"></div>
</div>
</div>
</div>

<div id="whitelist" class="mb-5">
<h4> Whitelist/Ido Time and Info</h4>

<div class="card">
<div class="list-group list-group-flush">
<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Whitelist Start Time</div>

</div>
<div>
<div>{{ ido.whitelist_start }}</div>
</div>
</div>
<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Whitelist End Time</div>

</div>
<div><div>{{ ido.whitelist_stop }}</div>
</div>
</div>

<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Presale Start Time</div>

</div>
<div><div>{{ ido.ido_start }}</div>
</div>
</div>

<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Presale Start Time</div>

</div>
<div><div>{{ ido.ido_stop }}</div>
</div>
</div>

<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Unsold Tokens</div>

</div>
<div><div>Burn</div>
</div>
</div>

<div class="list-group-item d-flex align-items-center">
<div class="flex-1 text-break">
<div>Listing On</div>

</div>
<div><a href="#modalEdit">IceCream Swap</a>
</div>
</div>




</div>
<div class="card-arrow">
<div class="card-arrow-top-left"></div>
<div class="card-arrow-top-right"></div>
<div class="card-arrow-bottom-left"></div>
<div class="card-arrow-bottom-right"></div>
</div>
</div>
</div>


<div id="tokenomics" class="mb-5">
<h4>Tokenomics</h4>
<div class="card">
<div class="card-body">
<div id="apexPieChart"></div>
</div>
<div class="card-arrow">
<div class="card-arrow-top-left"></div>
<div class="card-arrow-top-right"></div>
<div class="card-arrow-bottom-left"></div>
<div class="card-arrow-bottom-right"></div>
</div>

</div>
</div>

<div class="d-flex align-items-center mb-3">

    <a href="{% url 'launchpad:add_ido' %}">Add Ido</a>

</div>

{% if whitelisting %}
<div class="d-flex align-items-center mb-3">

    <a href="{% url 'stake:pool' ido.id %}">Join whitelist</a>

</div>

{% else %}

<div class="d-flex align-items-center mb-3">

    <a href="{% url 'launchpad:contribute' ido.id %}">Contribute</a>

</div>

{% endif %}

<div class="d-flex align-items-center mb-3">

    <a href="{% url 'launchpad:e_withdraw' ido.id %}">Emergency Withdraw</a>

</div>

<br />
<br />
<h3>Whitelist Contributions for this Ido</h3>

{% if ido.whitelist.all %}
    {% for item in ido.whitelist.all %}
        <small>ido: {{ item.wallet_address }}</small><br />
        <small>contribution: {{ item.input_amount }}curl</small><br />
        <small>tier: {{ item.tier }}</small><br />
        <hr>
    {% endfor %}

{% else %}
    <p>Sorry, no whitelist yet.</p>
{% endif %}

<br />

<h3>Other Contributions for this Ido</h3>
{% if ido.contributors.all %}
    {% for item in ido.contributors.all %}
        <small>{{ item.wallet_address }}</small><br />
        <small>contribution: {{ item.input_amount }}curl</small><br />
        <small>Tier: O</small><br />
        <hr>
    {% endfor %}

{% else %}
    <p>Sorry, no contributions yet.</p>
{% endif %}






</div>
<div class="col-xl-3">

<nav id="sidebar-bootstrap" class="navbar navbar-sticky d-none d-xl-block">
<nav class="nav">
<a class="nav-link" href="#general" data-toggle="scroll-to">Presale Info</a>

<a class="nav-link" href="#privacyAndSecurity" data-toggle="scroll-to">Presale time and Info</a>
<a class="nav-link" href="#whitelist" data-toggle="scroll-to">Whitelist/Ido Time and Info</a>
<a class="nav-link" href="#tokenomics" data-toggle="scroll-to">Tokenomics</a>

</nav>
</nav>

</div>

</div>

</div>


{% endblock %}

